{% extends 'index.html' %}

{% block main %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HSE Project</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% include 'navitem.html' %}
            </ul>
        </div>
    </div>
</nav>
<body >
    <img src="/static/ph/ph1.png" alt="БРААААА, картинка потерялась, сори, скоро всё починм">
    <img src="/static/ph/ph2.png" alt="БРААААА, картинка потерялась, сори, скоро всё починм">
    <img src="/static/ph/ph3.png" alt="БРААААА, картинка потерялась, сори, скоро всё починм">
    <img src="/static/ph/ph4.png" alt="БРААААА, картинка потерялась, сори, скоро всё починм">
    <img src="/static/ph/ph5.png" alt="БРААААА, картинка потерялась, сори, скоро всё починм">
    <img src="/static/ph/ph6.png" alt="БРААААА, картинка потерялась, сори, скоро всё починм">
</body>

{% endblock %}